/* Basic CSS Reset */
* {
  padding: 0;
  margin: 0;
}

/* General Layout */
a {
  text-decoration: none;
}

/* Container Layout */
.container {
  width: 1270px;
  margin: 0 auto;
  position: relative;
}

/* Header Layout */
.header {
  background: url("../img/header/logo.png") no-repeat;
  background-position: bottom center;
}

.logo {
  color: #43a9ff;
  font-size: 32px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.search {
  float: right;
}

/* Main Page */
#mainpage {
  position: relative;
  background: url(../img/horse.png) no-repeat;
  height: 100vh;
  background-size: 100%;
}

h2{
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 1px;
  text-align: center;
}
.p1 {
  color: #4b5863;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
}

.button {
  position: absolute;
  left: 38%;
  margin-top: -3%;
  transform: translateY(40%);
}