/* Basic CSS Reset */
* {
  padding: 0;
  margin: 0;
}

/* General Layout */
a {
  text-decoration: none;
}

h3 {
  font-weight: normal;
}

/* Container Layout */
.container {
  width: 1270px;
  margin: 0 auto;
  position: relative;
}

/* Header Layout */
.header {
  background: url("../img/header/logo.png") no-repeat;
  background-position: bottom center;
}

.logo {
  color: #43a9ff;
  font-size: 32px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/* Search Icon */
.search {
  float: right;
}

/* Main Page Layout */
#mainpage {
  background: url(../img/horse.png) no-repeat;
  height: 768px;
  background-size: 100%;
  text-align: center;
  z-index: 1;
}

/* Main Page Text */
.h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 60px;
  z-index: 2;
}

/* Main Page Paragraph */
.p1 {
  color: #4b5863;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

/* Button Image */
.button {
  margin-top: 60%;
}

/* Offer Page */
#offerpage {
  text-align: center;
  z-index: 1;
}

/* Paragraph 2 */
.p2 {
  font-size: 12px;
  letter-spacing: 1px;
  color: #4b5863;
  font-family: 'Raleway', sans-serif;
}
/* h2 */
.txt2 {
  margin-top: 10px;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
}

/* Div Class */
#block {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 2;
}

/* h3 */
#block h3 {
  margin-top: 30px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
}

/* Paragraph */
#block p {
  color: #4b5863;
  margin-top: 35px;
  letter-spacing: 1px;
  line-height: 2;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}

/* Button Image */
.offer {
  margin-top: 80px;
  margin-left: 10px;
  display: block;
}

/* Services Page */
#servicespage {
  background-color: #f7f8fb;
  height: 720px;
}

/* Div Class */
.blockblock {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Div Class */
.blockone {
  background: url('../img/bgsnow.jpg');
  background-size: 100%;
  height: 360px;
}

/* Div Class */
.blocktwo {
  text-align: left;
  text-align: justify;
  margin-top: 120px;
  margin-left: 85px;
}

/* Div Class */
.blockthree {
  text-align: left;
  text-align: justify;
  margin-top: 130px;
  margin-left: 125px;
}

/* Div Class */
.blockfour {
  background: url('../img/bglog.jpg');
  background-size: 100%;
  height: 360px;
}

/* h3 */
#servicespage h3 {
  font-family: 'Montserrat', sans-serif;
  Font-Weight: Bold;
  font-size: 30px;
  letter-spacing: 1px;
}

/* Paragraph */
#servicespage p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #4b5863;
  line-height: 2;
}

/* Paragraph Class */
.pone {
  margin-top: 20px;
}

/* Paragraph Class */
.ptwo {
  margin-top: 20px;
}

/* Mobile App page */
#mobilepage {
  background: url('../img/bgmobile.jpg');
  background-size: 100%;
}
/* Div Class */
.blockmobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* h3 */
#mobilepage h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  color: #43a9ff;
}

/* Paragraph */
#mobilepage p {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  color: #4b5863;
  line-height: 2.5;
}

/* Div Class */
.blockapp {
  margin-left: 190px;
  margin-top: 30px;
}

/* Image */
.blockapp img{
  width: 350px;
}

/* Text */
.blocktxt1 {
  margin-top: 200px;
}

/* Text */
.blocktxt2 {
  margin-top: 210px;
  margin-left: 230px;
}

/* Div Class */
.blockdoe {
  margin-left: 80px;
}

/* Image */
.blockdoe img{
  width: 350px;
}

/* Paragraph */
.lor {
  margin-top: 20px;
}

/* Paragraph */
.lore {
  margin-top: 20px;
}

/* Feedback Page */
#fbpage {
  background: url('../img/bgfeedback.jpg') center;
  background-size: cover;
  height: 400px;

}

/* Div Class */
.fb1 {
  margin-left: 650px;
  margin-top: 110px;
  text-align: justify;
  display: inline-block;
}

/* h3 */
.fbh3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 1px;
  color: #fe3254;
}

/* Paragraph */
.fbtxt {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: #4b5863;
  margin-top: 20px;
}

/* Div Class */
.doe {
  margin-left: 650px;
  margin-top: 40px;
}

/* Paragraph */
.john {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
}

/* Paragraph */
.ceo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #4b5863;
  letter-spacing: 1px;
}