/* Basic CSS Reset */
* {
  padding: 0;
  margin: 0;
}

/* General Layout */
a {
  text-decoration: none;
}

/* Container Layout */
.container {
  width: 1270px;
  margin: 0 auto;
  position: relative;
}

/* Header Layout */
.header {
  background: url("../img/header/logo.png") no-repeat;
  background-position: bottom center;
}

.logo {
  color: #43a9ff;
  font-size: 32px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.search {
  float: right;
}

/* Main Page */
#mainpage {
  background: url(../img/horse.png) no-repeat;
  height: 768px;
  background-size: 100%;
  text-align: center;
  z-index: 1;
}

.h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 60px;
  z-index: 2;
}
.p1 {
  color: #4b5863;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

/* Button Image */
.button {
  margin-top: 60%;
}

/* Offer Page */
#offerpage{
  text-align: center;
}

.p2{
  font-size: 14px;
  letter-spacing: 1px;
  color: #4b5863;
}

.lorem{
  margin-top: 1%;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}

#block{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#block h3{
  margin-top: 35px;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
}

#block p{
  color: #4b5863;
  margin-top: 30px;
  letter-spacing: 1px;
  font-size: 14px;
}
h3{
  font-weight: lighter;
}

/* Button Image */
.offer{
  margin-bottom: 10px;
}